[submodule "lib/entt"]
	path = submodules/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/concurrent_queue"]
	path = submodules/concurrent_queue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "lib/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/tinyobj"]
	path = submodules/tinyobj
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "submodules/vulkan_memory_allocator"]
	path = submodules/vulkan_memory_allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "submodules/spirv-reflect"]
	path = submodules/spirv-reflect
	url = https://github.com/chaoticbob/SPIRV-Reflect
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
